$orange = #d69040
$green = #30b245
$black = #1d1e18
$grey = #e4e4e4

$lightgreen = #d6eab9

body
	margin 0
	padding 0
	font-family 'Roboto Slab'
	color $black
	
.container
	width 1050px
	margin auto

a
	text-decoration none
	color inherit