.footer
	padding 20px 0
	border-top 5px solid #d1d1d1
	background-color $grey
	
	.container
		display flex
		justify-content space-between
		
	&_list
		color $green
		width 250px
		
		div
			padding-bottom 5px
			margin-bottom 15px
			border-bottom 1px solid darken($grey, 15%)
			
	&_header
		color darken($grey, 30%)
		font-weight 400
		font-size 1.5em
	
	&_phone
		margin-top 10px
		text-align right
		color lighten($green, 20%)
		font-weight 400
		font-size 1.2em
		
	&_image
		text-align center
		img
			width 320px
			
	&_mail
		font-size .9em
		color darken($grey, 20%)