.header
	position fixed
	right 0
	left 0
	top 0
	height 150px
	z-index 10
	background-color white
	box-shadow 0px 0.1em 0.4em rgba(74, 74, 74, 0.3)
	transition height 500ms ease-in-out
	
	&_right
		width 870px
	
	&--sticky
		height 70px
		
	&--sticky &_logo
		height 70px
		width 70px
	
	&--sticky &_menu
		margin-bottom 5px
		
	&--sticky &_info
		margin-bottom 20px
	
	.container
		display flex
		height 100%
		justify-content space-between
		align-items flex-end
	
	&_logo
		height 150px
		width 150px
		transition all .5s ease-in-out
		img
			height 100%
			
	&_info
		height 80px
		display flex
		transition margin .5s ease-in-out
		justify-content space-between
		align-items flex-end
			
	&_icon
		width 350px
		img
			width 100%
		
	&_quote
		margin-left 5px
		font-size .9em
		color lighten($black, 20%)

	&_menu
		display flex
		transition margin .5s ease-in-out
		justify-content flex-end
		
	&_phone
		color darken($grey, 30%)
		span:nth-child(2)
			margin-left 5px
			font-size 1.8em
	
	&_lang
		display flex
		list-style none
		padding 0
		margin 0
		
		li
			text-align center
			margin-left 5px
			border-radius 50%
			width 40px
			height 40px
			font-size 14px
			cursor pointer
			
			&.current-lang
				background-color darken($green, 10%)
				color white
			a
				padding 8px
				display block

.menu
	color lighten($black, 15%)
	
	&_list, &_sub
		list-style none
		padding 0
		margin 0
		display flex
		
		a
			padding 20px
			display block
			font-weight 400
			font-size 1em
			
	&_list
		justify-content center
		
		li
			position relative
			transition color 250ms ease-in-out
			
		& > li:hover,
		& > li.current-menu-item,
		& > li.current-menu-parent
			color darken($green, 10%)
				
	&_list li:hover &_sub
		opacity 1
		visibility visible

	&_sub
		z-index -20
		visibility hidden
		color darken($black, 15%)
		background-color white
		position absolute
		flex-direction column
		font-size .8em
		width 220px
		opacity 0
		transition opacity 200ms, visibility 200ms
		box-shadow 0 1px 10px rgba(0,0,0,0.15)
		
		li
			transition all 200ms ease-in-out
	
			&:hover
				background-color $grey
				color darken($green, 10%)
				
.hands
	text-align center
	margin-top 150px
	img 
		width 60%