.posts
	border-top 5px solid $darkengrey

.post
	margin-bottom 20px
	width 650px

	&_header
		color $green
	
	&_thumb
		background-size cover
		background-repeat no-repeat
		background-position top center
		margin-right 20px
		height 150px
		width 250px
		float left
		
	&_info
		margin-top 10px
		padding 5px 10px
		background-color $grey
		display flex
		justify-content space-between
		align-items center
		position relative
	
	&_date
		color $green

	&_read
		text-align right
		
		a
			display inline-block
			padding 5px 10px
			background-color $green
			color white
			
			font-size .9em